/* Fonts */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

  


/*Main page elements*/
#main_page{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
}

                                            /*nav page elements*/
#nav_page{
    position: fixed;
    height: 100%;
    width: 17%;
    background-color: black;
    z-index: 2;
}
#profile_image{
 
    height: 25%;
    padding: 10px 0px 0px 50px;
 

}
#profile_name{
    position: relative;
    bottom: 20px;
    color: white;
    font-size: 30px;
    padding: 2px 5px 2px 20px;
    text-align: center;
}
#menu_list{
    position: relative;
    bottom: 35px;
    color: white;
    list-style: none;
    font-size: 20px;
    padding: 5px 10px 10px 10px;
    
}
#menu_list>li>a{
    text-decoration: none;
  background: transparent !important;
      
    
}
#menu_list>li{
    padding: 10px 10px 15px 10px;
    text-align: center;
}

a:link{
    color: white;
}

a:visited {
    color: white;
}

#welcome {
    padding-top: 130px;
    font-weight: 600;
font-size: 50px;

}

#autoTyping{
    font-size: 60px;
    color: black;
    z-index: 0;
}

#address{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 25px;
    margin-bottom: 50px;
}

.hireMe{
    border: 8px green solid;
    border-radius: 50px;
    margin-top: 30px;
color: #000000;
font-size: 20px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 12px;
padding-right: 12px;
z-index: 1;

/* text-decoration: none; */

}

/* .homeBackgroundImg{
    z-index: 2;
} */

/* .hireMe > a:visited{
    color: green;
} */

                                            /*Home page elements*/
#home_page{
    position: absolute;
    height: 100%;
    width: 85%;
    top: 0%;
    left: 15%;
    background-color: blanchedalmond;
}

#home_page_image>img{
    opacity: 75%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

#welcome{
    color: green;
}

                                            /*About me page elements*/

.projectsDesc{
    color: white;
    font-weight: 500;
    font-size: 15px;
}                                            

.projectsNumber{
    font-weight: 500;
    font-size: 50px;
}                                            

.gmailColor{
    color: #07BC0C;
}  

.green-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
}


.downloadCV{
    color: white;
    order: 8px green solid;
    border-radius: 50px;
    margin-top: 30px;
color: #000000;
font-size: 20px;
z-index: 1;

}


.boldContactInfo{
    font-weight: 600;
    font-size: 18px;
}

.contactInfounderline{
    border: 0.1px #c0d3e2 solid;
    line-height: 15px;
    width: 300px;
   margin-left: 0px;
   
}
.descParagraph{
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}                                            


 #aboutDescription{
    color: hsla(0,0%,100%,.5);
    margin-left: 50px;
    
 }                                           
#line{
    position: relative;
    top: 100px;
    width: 220px;
  left: 60px;
  border: #07BC0C 2px solid;
}

#boldName{
    color: #07BC0C;
    font-weight: 600;
    font-size: 25px;
}

#aboutMePage{
    background-color: #212529;
    position: relative;
    bottom: 27px;
    color: #6c757d;
   
}
#aboutMePage>div{
    font-size: 20px;
    position: relative;
    left: 250px;
    bottom: 50px;
}
#chathuska{
    color: green;
}
#heading{
    position: relative;
    left: 60px;
    font-size: 40px;
    top: 120px;
    color: white;
}
#opacity_about_me{
    position: relative;
    bottom: 50px;
    left: 40px;
    font-size: 75px;
    opacity: 10%;
    color: #6C757D;
}
#contactInfo{
    position: relative;
    bottom: 300px;
    left: 100px;
    padding: 5px 10px 10px 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 800px;
     top: -320px;
    
}
 #contactInfo>li{
    padding: 10px 10px 10px 10px;
   
    
} 

#contactInfo > ul {
    list-style-type: none;
    font-weight: 300;
    font-size: 15px;
    
}

#contactInfo > ul > li {
    line-height: 30px;
}

 #projectsInfo{
    display: flex;
    align-items: center;
     justify-content:space-evenly; 
    flex-wrap: wrap;
    position: relative;
    left: 100px;
    bottom: 100px;
    list-style-type: none;
   position: relative;
   bottom: 230px;
 }
 

#projectInfo>li {
    list-style-type: none;
}


                                          /* What I do page*/
#services1 > ul >li , #services2 > ul >li{
    list-style-type: none;
    margin-bottom: 70px;
}
                                        

/* #services2 {
    position: relative;
   bottom: 373px;
   left: 800px;
} */

#line2{
    position: relative;
    top: 41px;
    width: 220px;
    left: 60px;
    border: #07BC0C 2px solid;
}                                          

#What_I_Do_Page{
    background-color: #343A40;
    height: 800px;
    position: relative;
    bottom: 71px;
    z-index: 1;
}

#heading2{
    position: relative;
    left: 60px;
    font-size: 40px;
    bottom: 50px;
    top: 56px;
    color: white;
}
#opacity_What_I_do{
    position: relative;
    bottom: 116px;
    left: 61px;
    font-size: 75px;
    opacity: 10%;
}
#services1{
    position: relative;
    bottom: 100px;
    left: 260px;
}
#services2{
    position: relative;
    bottom: 460px;
    left: 800px;
}

                                                /*Resume elements*/

#opacity_summary{
    position: relative;
    bottom: 50px;
    left: 40px;
    font-size: 75px;
    opacity: 10%;
}
#heading3{
    position: relative;
    left: 60px;
    font-size: 40px;
    bottom: 50px;
    top: 90px;
}
#summary{
    background: gray;
    height: 800px;
    position: relative;
    /*top: 10px;*/
    bottom: 99px;
}
#education_details1{
    background: #D3F3E0;
    width: 300px;
    height: 120px;
    position: relative;
    left: 200px;
}
#education_details1>p{
    background: #55F5C5;
    border-radius: 40%;
    width: 35%;
    position: relative;
    left: 5px;
    top: 10px;
}
#GCE{
    position: relative;
    right: 30px;
}
#education_details2{
    background: #D3F3E0;
    width: 300px;
    height: 120px;
    position: relative;
    left: 200px;
}
#education_details2>p{
    background: #55F5C5;
    border-radius: 40%;
    width: 35%;
    position: relative;
    left: 5px;
    top: 10px;
}
#education{
    position: relative;
    left: 100px;
    bottom: 100px;
}
#my_education{
    position: relative;
    left: 300px;
    bottom: 100px;
}
#experience_details1{
    background: #D3F3E0;
    width: 300px;
    height: 120px;
    position: relative;
    left: 200px;
}
#experience_details1>p{
    background: #55F5C5;
    border-radius: 40%;
    width: 35%;
    position: relative;
    left: 5px;
    top: 10px;
}
#experience{
    position: relative;
    left: 600px;
    bottom: 425px;
}
#my_experience{
    position: relative;
    left: 800px;
    bottom: 425px;
}
#experience_details2{
    background: #D3F3E0;
    width: 300px;
    height: 120px;
    position: relative;
    left: 200px;
    z-index: 2;
}
#experience_details2>p{
    background: #55F5C5;
    border-radius: 40%;
    width: 35%;
    position: relative;
    left: 5px;
    top: 10px;
}
                                          /*Skills Elements*/
/*#skills{
    position: relative;
    left: 100px;
    bottom: 200px;
}*/
#my_skills{
    position: relative;
    left: 300px;
    bottom: 300px;
}
#skills_1{
    position: relative;
    left: 200px;
    bottom: 300px;
}
#skills_2{
    position: relative;
    left: 900px;
    bottom: 400px;
}
#radius{
    border-radius: 100%;
    border: solid white;
    background: #55F5C5;
    width: 200px;
    height: 20px;
}
                                                /*Portfolio elements*/

 #opacity_portfolio{
     position: relative;
     bottom: 50px;
     left: 40px;
     font-size: 75px;
     opacity: 10%;
 }
 #my_work{
     position: relative;
     left: 60px;
     font-size: 40px;
     bottom: 50px;
     top: 90px;
 }
#room_reservation>img{
    position: relative;
    padding: 10px 0px 0px 10px;
}
#room_reservation{
    position: relative;
    width: 210px;
    height: 260px;
    background: gray;
    left: 290px;
}

                                            /*Testimonial elements*/


#opacity_Testimonial{
    position: relative;
    bottom: 50px;
    left: 40px;
    font-size: 75px;
    opacity: 10%;
}
#client_speak{
     position: relative;
     left: 60px;
     font-size: 40px;
     bottom: 50px;
     top: 90px;
 }
#nipun{
    position: relative;
    left: 400px;
    top: 100px;
    width: 400px;
    height: 300px;
    background: gray;
}
#yasanga{
    position: relative;
    left: 800px;
    width: 400px;
    height: 300px;
    background: #74B9FF;
}

